* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background: #f4f4f4;
    color: #333;
}

/* NAVBAR */
nav {
    background: #111827;
    padding: 15px 40px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* CONTAINER */
.container {
    max-width: 700px;
    margin: 50px auto;
    padding: 0 20px;
}

/* POST CARD */
.post {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0,0.8);
}

.post h2 {
    margin-top: 0;
}

/* FROM */
form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 5px 15px raga(0,0,0,0,0.8);
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #2563eb;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: none;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

form {
    margin-bottom: 40px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.post {
    text-align: left;
}